<button  *ngFor="let item of imagenes"(click)="cambImg(item + '.png')" class="btn btn-primary" style='padding: 5px; margin-left: 20px; margin-right: auto;'>{{item}}</button>
<input type='text' (keydown)="checkKey($event)" [(ngModel)]='input' placeholder="mensaje" class="form-control">
<input type='text' (keydown)="checkKeyName($event)" [(ngModel)]='nombre' placeholder="nombre" class="form-control">
<div *ngIf= 'nombre==="cursoayi2020"'>
<br>
<button  *ngFor="let item of imagenes_curso"(click)="cambImg(item + '.png')" class="btn btn-success">{{item}}</button>
</div>
<div *ngIf= 'nombre==="secret"'>
<br>
<button  *ngFor="let item of imagenes_pebetines"(click)="cambImg(item + '.png')" class="btn btn-danger">{{item}}</button>
</div>
<!--<button (click)=socket.reset()></button>-->
<div *ngFor="let item of socket.elementsGroup"
    [ngStyle]="{'position':'absolute','width':'50px', 'height':'50px', 'top':item.top +'px', 'left':item.left +'px'}">
    <p class="element">{{item.lmsg}}</p>
    <img (click)=socket.mover() [ngStyle]="{'width':'50px', 'height':'50px'}" src={{item.img}}>
    <p style="font-weight: bold;">{{item.nombre}}</p>
    <p>puntos: {{item.puntos}}</p>
</div>
<div [ngStyle]="{'background-color': '#CCC', 'width':'30vw', 'height':'24vh'}">
    <p *ngFor='let item of socket.messages' class="font-italic">{{item.nombre}} : {{item.mensaje}}</p>
</div>
<br><br>
<button (click)='comprando = !comprando'>Comprar</button>
<div *ngIf='!comprando'>
    <div style="display: flex;"><button (click)='toggleComp("p")'>P</button>
        <p>-50 puntos-</p>
        <div *ngIf='compItem.p'><input placeholder="Texto" type="text" [(ngModel)]='htmlToAdd.p'><button (click)='send("p", htmlToAdd.p)'>Confirmar</button></div><br>
    </div>
    <div style="display: flex;"><button (click)='toggleComp("a")'>A</button>
        <p>-100 puntos-</p>
        <div *ngIf='compItem.a'><input placeholder="https://tupagina.com" type="text" [(ngModel)]='htmlToAdd.a'><button (click)='send("a", htmlToAdd.a)'>Confirmar</button></div><br>
    </div>
    <div style="display: flex;"><button (click)='toggleComp("h1")'>H1</button>
        <p>-150 puntos-</p>
        <div *ngIf='compItem.h1'><input placeholder="Texto" type="text" [(ngModel)]='htmlToAdd.h1'><button (click)='send("h1", htmlToAdd.h1)'>Confirmar</button></div><br>
    </div>
    <div style="display: flex;"><button (click)='toggleComp("img")'>IMG</button>
        <p>-200 puntos-</p>
        <div *ngIf='compItem.img'><input placeholder="Img URL" type="text" [(ngModel)]='htmlToAdd.img'><button (click)='send("img", htmlToAdd.img)'>Confirmar</button></div><br>
    </div>
    <div style="display: flex;"><button (click)='toggleComp("div")'>DIV</button>
        <p>-400 puntos-</p>
        <div *ngIf='compItem.div'><input placeholder="HTML" type="text" [(ngModel)]='htmlToAdd.div'><button (click)='send("div", htmlToAdd.div)'>Confirmar</button></div><br>
    </div>
    
</div>
<div *ngFor="let item of this.socket.htmlEls" [innerHTML]='item | safe :"html"' >

</div>
